<div class="jobBy">
  <div class="row">
      <div class="col-sm-12">
          <div  class="jobBy__title" >Nuestros números</div>
          <div class="jobBy__subtitle">Trabajamos para nuestros usuarios</div>
      </div>
  </div>
  <div  class="data">
      <div class="jobBy__metrics row text-center ">
          <div class="col-sm-4 jobBy__statics-container">
              <p class="jobBy__statics">+250</p>
              <p><small>Abogados Calificados</small></p>
          </div>
          <div class="col-sm-4 jobBy__statics-container">
              <p class="jobBy__statics">+1230</p>
              <p><small>Clientes de confianza</small></p>
          </div>
          <div class="col-sm-4 jobBy__statics-container">
              <p class="jobBy__statics">+2123</p>
              <p><small>Casos exitosos</small></p>
          </div>
      </div>
  </div>
</div>
