<div class="specialists">
  <div class="row">
    <div class="col-sm-6 specialists__info-container">
      <p class="specialists__title title-especial">Buscamos los mejores &nbsp;</p>
      <p class="specialists__subtitle subtitle">Te conectamos con el mejor especialista</p>
      <p class="specialists__text">Nuestro selecto equipo de profesionales atenderá su consulta, con suficiencia
        académica y experticia que se verá reflejada en el logro de los objetivos propuestos, para su caso.
      </p>
    </div>
    <div class="col-sm-6 specialists__card-container">
      <div class="first-col">
        <app-card-patners class="specialists__card"></app-card-patners>
        <app-card-patners class="specialists__card"></app-card-patners>
      </div>
      <div class="seg-col">
        <app-card-patners class="specialists__card"></app-card-patners>
        <app-card-patners class="specialists__card-"></app-card-patners>
      </div>



    </div>
  </div>
</div>
