<div class="main-container seccionIII relative">
  <div id="expertos" class="row  g-0">
      <div class="col-sm-6 slogan">
          <p class="title">Buscamos los mejores &nbsp;</p>
          <p class="title2">Te conectamos con el mejor especialista</p>
          <p class="title3">Nuestro selecto equipo de profesionales atenderá su consulta, con suficiencia académica y
              experticia que se verá reflejada en el logro de los objetivos propuestos, para su caso.</p>
      </div>
      <div class="col-sm-6 cardPatners g-0">

          <app-card-patners id="card1" class="col-sm-6 cardSize"></app-card-patners>
          <app-card-patners id="card2" class="col-sm-6 cardSize"></app-card-patners>
          <app-card-patners id="card3" class="col-sm-6 cardSize"></app-card-patners>
          <app-card-patners id="card4" class="col-sm-6 cardSize"></app-card-patners>

      </div>
  </div>
</div>
