<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>
    <ng-template carouselSlide>
        <app-testimonial-card></app-testimonial-card>
    </ng-template>

</owl-carousel-o>