<div class="contact-us" #formConainer>
  <div class="row">
    <div class="col-sm-6 slogan">
      <p class="contact-us__title">Escríbenos</p>
      <p class="contact-us__subtitle">Estamos listos para atenderte</p>
      <p class="contact-us__text">Conocemos los siniestros desde su génesis. Ponemos a disposición los mejores expertos en
        diferenctes
        áreas legales, puedes rastrear el estado de tus procesos legales en nuestra plataforma para mayor
        comodidad.</p>
    </div>
    <div class="contact-us__form col-sm-5">
      <form class="mt-5 mb-3">
        <div class="form-group mb-2">
          <input type="text" class="form-control" name="fullname" id="fullName" placeholder="Nombre completo">
        </div>
        <div class="form-group mb-2">
          <input type="phone" class="form-control" name="phone" id="phone" placeholder="Teléfono">
        </div>
        <div class="form-group mb-2">
          <input type="email" class="form-control" name="email" id="email" placeholder="Correo eléctronico">
        </div>
        <div class="form-group">
          <textarea class="form-control textareaUntouched" name="details" id="details"
            rows="3"> Breve descripción de tu caso </textarea>
        </div>
      </form>
      <button class="contact-us__btn-send">ENVIAR</button>
    </div>
  </div>
</div>
