<div class="testimonials-card">
  <div class="testimonials-card__header">
    <div class="testimonials-card__img-container">
      <div>
        <img class="testimonials-card__img" src=".../../../../../../assets/img/user.png" alt="Photo of a Shiba Inu">
      </div>
    </div>
    <div class="testimonials-card__info">
      <p> Dra Nancy ospina </p>
      <p><span class="star"> &#9733;</span><span class="star"> &#9733;</span><span class="star">
          &#9733;</span><span class="star"> &#9733;</span><span class="star"> &#9733;</span></p>
    </div>
  </div>
  <div class="testimonials-card__body">
    <p>
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nullam ut risus platea velit, proin hendrerit. Mauris, auctor vitae praesent sit id mauris purus. Cursus ut ac id vitae. Quam congue at.”
    </p>
  </div>
</div>

<!-- <div>
  <div>
    <div class="matCard">
      <div >

      </div>
    </div>
    <div class="matCard">
      <div class="">

      </div>
    </div>
  </div>
</div> -->
