.example-card {
  margin-right: 24px;
  max-width: 394px;
  height: 288px;
  background: #fafafa;
  border: 1px solid #dddddd;
//   box-sizing: border-box;
  border-radius: 2px;
}
.star {
    font-size: 24px;
    background-color: #F8D20C;
    margin-right: 4px;
    color: white;
  }