<div class="snt">
  <div class="row">
    <div class="col-sm-8 snt__title">CONOCEMOS EL SISTEMA NACIONAL DE TRANSPORTE
      NOS CONECTAMOS CON SUS ENTIDADES</div>
    <div class="snt__logo-container">
      <img class="CambioColorLogo" id="logoMT" src="../../assets/img/logoMinisterioTransporte.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoANSV" src="../../assets/img/logoAnsv.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoST" src="../../assets/img/supertransporte.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoPN" src="../../assets/img/escudo-policia.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoANI" src="../../assets/img/logoANI.png" width="20%" alt="">
    </div>
  </div>
</div>
