<div class="testimonials">
  <div class="row testimonials__container">
    <div class="col-sm-12">
      <div>
        <p class="testimonials__title title-especial">Testimonios &nbsp; </p>
        <p class="testimonials__subtitle">Lo que dicen nuestros usuarios</p>
      </div>
      <div>
        <div class="row text-center">
          <div class="col-sm-12">
            <app-slider-testimonial></app-slider-testimonial>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
