<div class="areapractica">
  <div class="row">
      <div class="col-sm-6">
          <p class="areapractica__title">Nuestras áreas prácticas &nbsp;</p>
          <p class="areapractica__title2 ">AREAS DE PRÁCTICA</p>
          <p class="areapractica__title3 "> Ejercemos jurídica y técnicamente en áreas del derecho, en las que hemos acumulado
              experiencia a través del ejercicio profesional. Especialmente en: Procesos PENALES, CIVILES y
              ADMINISTRATIVOS derivados de
              los Accidentes de Tránsito. </p>

      </div>
      <div class="col-sm-6">
          <mat-grid-list cols="1" rowHeight="2:2">
              <mat-grid-tile class="matCard" *ngFor="let especialidad of especialidadesAll">
                  <app-card-practice [especialidad]="especialidad" width="100%">
                  </app-card-practice>
              </mat-grid-tile>
          </mat-grid-list>
      </div>
  </div>
</div>
