<div class="row  g-0 relative">
  <div class="col-sm-6  slogan g-0">
      <p class="title">Plantillas prediseñadas &nbsp;</p>
      <p class="title2 ">Redactar un documento nunca fue tan facil</p>
      <p id="expertos--title3" class="title3">Cree sus propias plantillas y ahorre tiempo redactando, puede usar
          las que ya tenemos o personalice las suyas. No derroche lo que mas valioso es para usted, su tiempo, y
          permita que el sistema automatico envie sus formatos, documentos y cuentas de cobro. </p>

  </div>
  <div class="col-sm-6 " width="100%">
      <img class="imgRight" id="imgPlantilla" src="../../assets/img/imgSistem-3.PNG" alt="Img-1.png">
  </div>
</div>
