<div class="template">
  <div class="row">
    <div class="col-sm-6">
      <p class="template__title title-especial">Plantillas prediseñadas &nbsp;</p>
      <p class="template__subtitle ">Redactar un documento nunca fue tan facil</p>
      <p class="template__text">Disponemos de múltiples plantillas que te permitirán realizar en áreas del derecho, en
        las que hemos acumulado experiencia a través del ejercicio profesional. Especialmente en: Procesos PENALES,
        CIVILES y ADMINISTRATIVOS derivados de los Accidentes de Tránsito.
    </div>
    <div class="col-sm-6">
      <img class="template__img" id="imgPlantilla" src="../../assets/img/imgSistem-3.PNG" alt="Img-1.png">
    </div>
  </div>
</div>
