<div class="clh pb-5">
  <div class="row">
      <div class="col-sm-12 ">
          <div  class="clh__title">¿CÓMO LO HACEMOS?</div>
      </div>
      <div class="col-sm-12   d-flex justify-content-center">
          <div class="col-sm-12 justify-content-center">
              <div  class=" clh_text text-center">Seguimos pasos específicos, aplicamos una metodología
                  probada para el éxito de nuestros procesos legales.</div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6 ">
          <img class="clh__img" src="../../assets/img/Img-2.png" alt="Img-1.png">
      </div>
      <div class="col-sm-6 ">
          <div class="clh__title-1"> <b>1. Etapa preliminar</b></div>
          <div class="">Estudio de Viabilidad - jurídico Técnico</div>
          <ul>
              <li>Escuchamos</li>
              <li>Estudiamos</li>
              <li>Investigamos</li>
              <li>Validamos</li>
          </ul>
          <div class="clh__title-2"> <b>2. Etapa Contractual</b> </div>
          <div class="">Gestión de Representación Legal</div>
          <ul>
              <li>Recolección y entrega de documentos e información base</li>
              <li>Formulación de hipótesis y supuestos jurídicos</li>
              <li>Evaluación de los Medios Probatorios</li>
              <li>Definición de la Estrategia Judicial</li>
              <li>Estructuración del Argumento</li>
              <li>Preparación de Documentos Legales</li>
              <li>Representación ante la Autoridad Judicial</li>
          </ul>
      </div>
  </div>
</div>
