<div class="main-container pt-2" #mainContainerI>
    <div class="row g-0" #rowMain>
        <div class="col-sm-6 slogan" #col1Sologan1>
            <p #mainText1 class="title">¿Quiénes somos?</p>
            <p #mainText2 class="title2 mb-5">Ayudamos a nuestros clientes y usuarios a hacer sus procesos más ágiles
            </p>
            <p #mainText3 class="title3 mt-5">Conocemos los siniestros desde su génesis. Ponemos a disposición los
                mejores expertos. Somos una organización de carácter privado, conformada por un equipo de
                profesionales altamente calificados, que trabajamos dentro de una estructura de integridad, encargados
                de asesorar jurídica ytécnicamente a entidades públicas y privadasdiferenctes áreas legales, puedes
                rastrear el estado de tus procesos legales en nuestra plataforma para mayor comodidad.</p>
        </div>

        <div class="col-sm-6 img-main" #mainImg1>

            <div class="">
                <div class="cuadro"></div>
                <img #Img1 class="img1" src="../../assets/img/pageMiasesorvial/img-1.png" width="87%" alt="Img-1.png">
            </div>

        </div>

    </div>
</div>
<div class=" seccionII">
    <div class="row" id="expertos">
        <div class="col-sm-6 relative ">
            <div class="img1Container">
                <div id="cuadroSeccII" class="cuadro394x387"></div>
                <img #Img2 class="img394" src="../../assets/img/pageMiasesorvial/img-2.png" width="87%" alt="Img-1.png">
            </div>
        </div>
        <div class="col-sm-6 pd">
            <div class="textContiner">
                <p class="title2">Nos encargamos de asesorarlos júridica y técnicamente</p>
                <p class="title3">Nuestra asesoria va desde derecho civil, penal, administrativo; aplicado a los
                    accidentes
                    de tránsito - siniestros viales, y desarrollos tecnológicos, brindándoles una óptima aplicación de
                    las
                    normas legales, proporcionando soluciones eficientes; generando las condiciones necesarias para la
                    productividad y competitividad de nuestros clientes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 marginSecIIRowII">

            <p class="textSecII"> <b>Mi Asesor Vial,</b> comparte el interés de nuestros clientes por hacer crecer sus
                proyectos y
                darles un nuevo impulso a sus empresas.
            </p>
            <p>
                En consultorías personales o corporativas, hemos diseñado un portafolio de servicios que permitirá
                satisfacer su necesidad de consulta y que se verá reflejada en el logro de los objetivos propuestos.
            </p>
        </div>
    </div>
</div>

<div class="seccionIII">
    <div class="row">
        <div class="col-sm-6 marginMisionVision">

            <p class="title">Misión &nbsp;</p>
            <p class="textMav">
                Asesorar jurídica y técnicamente a los actores viales, entidades públicas y privadas, en: procesos
                penales, civiles y administrativos derivados de los accidentes de tránsito; proporcionando soluciones
                eficientes en materia de tránsito, transporte, movilidad y seguridad vial, tecnología y afines,
                generando las condiciones necesarias para la productividad y competitividad de nuestros clientes,
                haciendo uso de herramientas tecnológicas, para lograr una eficaz aplicación de las normas legales.
            </p>
            <p class="title">Visión&nbsp;</p>
            <p class="textMav">
                Al 2026,<b> MIASESORVIAL ABOGADOS ESPECIALIZADOS SAS.</b> Será una firma de abogados reconocida por
                prestar un servicio de asesoría confiable, oportuna y especializada, logrando una eficaz aplicación de
                las normas legales, en cada problema jurídico planteado.
            </p>
        </div>
        <div class="col-sm-6 relative">
            <div class="cuadro394x596"></div>
            <img #Img3 class="img394x596" src="../../assets/img/pageMiasesorvial/img-3.png" width="87%" alt="Img-1.png">
        </div>
    </div>

</div>
<div id="valorescorp" class="titleValores">Nuestros valores corporativos</div>
<div id="valores">
    <app-valores-corporativos> </app-valores-corporativos>
</div>