html,
body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}
.my-navbar {
    display: none;
}
.my-navbar-responsive {
    display: block;
}
.row {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position:absolute;
  top: 60px;
  left: 5px;
  padding: 10px;
  background-color: white;
  z-index: 999;
  min-width: 60%;
}
.menu-responsive {
    & ul li {
        position: relative;
        margin: 8px 0;
        & a {
          font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 100%;
          text-decoration: none;
          color: black;
      }

      &:hover {
        background-color: gainsboro;
      }
    }

}
.hide {
    display: none;
}
@media screen and (min-width: 600px) {
    .my-navbar-responsive {
        display: none;
    }
    .my-navbar {
        display: block;
        z-index: 999;
    }
    .menu {
        background: #f4f6f9;
        padding: 10px 0 2px 0;
        justify-content: center;
        & ul li {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;

            & a {
                font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 100%;
                text-decoration: none;
                color: black;
            }
            & ::before {
                content: '';
                height: 4px;
                width: 0;
                background: #386ae9;
                position: absolute;
                left: 0;
                bottom: -20px;
                transition: 0.3s ease-out;
            }
            & :hover::before {
                position: absolute;
                width: 100%;
            }
        }
    }
    .line {
        border-bottom: 1px solid #e0e2e5;
    }
    .wrapper {
        background: #f4f6f9;
    }
    .nav-container {
        background: #f4f6f9;
    }

    .centrar {
        display: inline-flex;
        padding: 15px 0;
        justify-self: center;
    }
    img {
        display: block;
        margin: auto;
    }

    span {
        padding-top: 8px;
        padding-bottom: 0px;
        margin-right: 5px;
    }

    span:hover {
        background: #386ae9;
        color: white;
        cursor: pointer;
    }
}
