.footer{
    bottom: 0;
}
.container-fluid {
    display: block;
    padding: 0;
    height: max-content;
}
.fomContactUs {
    position: absolute;
    margin-left: 100px;
    bottom: 397px;
    z-index: 10;
  }
