<div class="main">
    <div class="row">

      <h1 class="text-center" id="tituloTerminos">Términos y Condiciones de uso</h1>  

        <h2> Bienvenido </h2>

        <p>  El propósito de este sitio de Internet es instruirlo en materia de TRÁNSITO, TRANSPORTE, MOVILIDAD Y SEGURIDAD
        VIAL, así como prestarle nuestros servicios especializados. Ha sido creado para la publicación, promoción y
        posicionamiento de la marca <b> MIASESORVIAL </b>. Deseamos que todos nuestros clientes puedan obtener la mejor ASESORÍA
        ESPECIALIZADA, en todos nuestros servicios ofertados, solicitamos que no reproduzca su contenido en otro sitio
        de Internet o aplicación. De ahora en adelante, cualquier contenido multimedia de interés académico, comercial,
        cultural y social que esté asociado a este, le pertenece a <b> MIASESORVIAL </b>. SAS. Si quiere transmitir a otros lo
        que se presenta aquí, diríjalos a este sitio web respetando los siguientes Términos y Condiciones de Uso. </p>

        <h2> Derechos de Autor. </h2>

        <p>  <b> MIASESORVIAL </b> ABOGADOS ESPECIALIZADOS SAS, publica y mantiene este sitio. A menos que se indique lo contrario,
        todo el contenido de este sitio es propiedad intelectual de <b> MIASESORVIAL </b>. SAS. </p>

       <h2>  Marcas de producto </h2>

       <p>   Todas las marcas de producto y logos, así como los nombres de cualquier programa o productos de software o
        marcas registradas, se usan conforme a lo descrito en sus licencias de atribución individuales. En tal caso
        todas las marcas de producto y marcas registradas son propiedad de sus respectivos titulares. </p>

        <h2> Términos y Condiciones de Uso </h2>

        <h2> El uso de este sitio está regido por los presentes Términos y Condiciones de Uso. </h2>

        <p>  Al acceder, navegar o usar este espacio digital usted reconoce que ha leído, entendido y se compromete a cumplir
        con estos términos y cualquier disposición legal que se anexe. En caso de no aceptar los términos, le
        solicitamos abandonar el sitio Web. </p>

        <h2> Alcance </h2>

        <p>  Al acceder a este sitio Web usted puede visualizar e imprimir la información y dar un uso personal de ella. Ello
        no implica ni expresa una autorización para distribuir, almacenar, difundir o comercializar información sin
        previa autorización escrita y explícita de un representante autorizado. Sin embargo, solo debe hacerlo para su
        propio uso y no puede usar el contenido con fines comerciales. </p>

        <p>  Enviar enlaces o copias electrónicas de publicaciones que se pueden descargar, de videos o de grabaciones de
        audio. </p>

        <p>  Sin embargo, debe sujetarse a las siguientes restricciones: </p>

        <p>  Transmitir por cualquier medio (redes sociales), publicaciones electrónicas, marcas de productos, música,
        imágenes, videos o artículos de este sitio en cualquier otro sitio de Internet. </p>

        <p>  Distribuir ilustraciones, publicaciones electrónicas, marcas de productos, música, imágenes, texto o videos de
        este sitio como parte de cualquier programa o aplicación electrónica (esto incluye guardar esta información en
        un servidor para usarla en una aplicación informática).
        Reproducir, copiar, distribuir o usar ilustraciones, publicaciones electrónicas, marcas de productos, música,
        imágenes, texto o videos de este sitio con fines comerciales o a cambio de dinero (aunque no sea para obtener
        beneficios económicos). </p>

        <p>  Crear programas o herramientas informáticos o desarrollar técnicas para recopilar, copiar, descargar o extraer
        datos, páginas HTML, imágenes o textos de este sitio a fin de distribuirlos. (No está prohibida la distribución
        de aplicaciones gratuitas y no comerciales diseñadas para descargar archivos electrónicos —como archivos EPUB,
        PDF, MP3 y MP4— de las secciones públicas de este sitio). </p>

        <p>  Usar indebidamente el sitio o sus servicios; por ejemplo, interferir con el sitio o sus servicios o acceder a
        ellos con un método distinto al que se provee expresamente. </p>

        <p>  Usar este sitio de una manera que pudiera dañarlo o impedir el acceso a él. Tampoco debe usarse de manera
        ilícita, ilegal, fraudulenta o perjudicial, o que de algún modo esté asociada a alguna actividad o propósito de
        carácter ilícito, ilegal, fraudulento o perjudicial. </p>

        <p>  Usar este sitio o cualquiera de sus ilustraciones, publicaciones electrónicas, marcas de productos, canciones,
        imágenes, textos o videos con algún fin publicitario. </p>

        <p>  <b> MIASESORVIAL </b> y su proceso de Comunicaciones se reserva el derecho de revisar y modificar la información
        publicada en este sitio Web o los términos declarados en esta página en cualquier momento, sin previo aviso.
        También puede realizar modificaciones en los servicios, programas y proyectos publicados aquí. </p>

        <p>  La información presentada en este sitio Web es inédita y obedece a las intenciones propias del equipo de
        profesionales que compone a <b> MIASESORVIAL </b>.com, En este sentido, este sitio no cede ninguna licencia o permiso
        sobre cualquier propiedad o derecho relacionado con los servicios y contenidos que se presentan. </p>

        <p>  Los contenidos y enlaces a páginas Web de terceros son identificados de manera explícita y no están bajo
        responsabilidad ni propiedad de <b> MIASESORVIAL </b>. La utilización, modificación y/o publicación de recursos de
        terceros se realiza conforme a las posibilidades que ofrecen las licencias libres que los amparan. Si requiere
        alguno de estos contenidos, recomendamos ubicar la fuente, leer los términos y condiciones de uso de cada uno de
        ellos. </p>

        <h2> Exención de garantías y limitación de responsabilidad </h2>

        <p>  Este sitio de Internet, todo su contenido e información, además de otros servicios disponibles mediante este
        sitio se proporcionan mediante <b> MIASESORVIAL </b> “tal cual”. <b> MIASESORVIAL </b>, no hace representaciones ni garantías de
        ningún tipo, ni implícitas ni explícitas. </p>

       <p>   <b> MIASESORVIAL </b>. No garantiza, la ausencia de virus u otros componentes dañinos en el sitio web. <b> MIASESORVIAL </b>. No
        se responsabiliza de los daños y perjuicios causados al usuario como consecuencia del uso de cualquier servicio,
        información, contenido o materia, así como de otros servicios que este sitio pone a su disposición, incluyendo,
        pero no limitándose, a daños directos, indirectos, fortuitos, punitivos o emergentes (incluida la pérdida de
        ganancias). </p>

        <h2> Incumplimiento de Términos y Condiciones de Uso </h2>

        <p>  Sin perjuicio de los demás derechos que estos Términos y Condiciones de Uso conceden a <b> MIASESORVIAL </b>, si usted
        viola o infringe alguno de estos Términos y Condiciones de Uso, <b> MIASESORVIAL </b> se reserva el derecho de tomar las
        medidas que estime oportunas. <b> MIASESORVIAL </b> podrá retirarle temporalmente el acceso al sitio o denegárselo por
        completo, bloquear el acceso al sitio a las computadoras que tengan su dirección IP, pedirle a su proveedor de
        servicios de Internet que restrinja su acceso al sitio y/o emprender acciones legales contra usted. </p>

        <h2> Modificaciones </h2>

        <p>  <b> Miasesorvial </b>.SAS podrá modificar en cualquier momento estos Términos y Condiciones de Uso. Cualquier revisión de
        este documento entrará en vigor el mismo día de su publicación en el sitio. Consúltelo regularmente para estar
        al tanto de cualquier modificación. </p>

        <h2> Ley aplicable y jurisdicción </h2>

        <p>  Estos Términos y Condiciones de Uso se regirán y se interpretarán de acuerdo con las leyes del estado
        colombiano, sin que sea aplicable ninguna de las disposiciones sobre conflicto de leyes. Cualquier acción
        judicial relacionada con estos Términos y Condiciones de Uso debe presentarse ante la jurisdicción ordinaria de
        la Rama judicial colombiana o entidad que tenga jurisdicción en Colombia. </p>

        <p>  Usted tiene derecho a solicitar información puntual sobre nuestros servicios, programas y proyectos beneficios,
        casos de éxito, convenios, entre otros. Para ello, puede utilizar las diferentes formas de contacto. Para
        presentar quejas, sugerencias, reclamos o solitudes de información, puede utilizar el formulario habilitado para
        ello. Las solicitudes serán atendidas en un plazo no superior a quince días hábiles. Tenga presente que
        cualquier comentario, solicitud, requerimiento o petición con palabras ofensivas o que diste de los protocolos
        establecidos en la Ley 1755 de 2015, será omitido y no contestado. Su deber como usuario es usar los contenidos
        de forma correcta y lícita. </p>

        <p>  Con la aceptación de los términos y condiciones, el usuario manifiesta de forma previa, expresa, informada y
        libre, su aceptación para el almacenamiento, uso y tratamiento de los datos personales, sin perjuicio de las
        excepciones previstas en la ley de conformidad con lo dispuesto en la ley 1581 de 2012 y a su Decreto
        Reglamentario 1377 de 2013. </p>

        <h2> Perfeccionamiento. </h2>

        <p>  Estos Términos y Condiciones de Uso constituyen el acuerdo perfeccionado entre usted y <b> MIASESORVIAL </b> ABOGADOS
        ESPECIALIZADOS SAS. con relación al uso que usted haga de este sitio. Cualquier acuerdo previo con relación al
        uso de este sitio ya no tiene validez. </p>

        <p>  Si tiene alguna duda o requiere mayor información puede escribirnos a  <a href="mailto:contacto@miasesorvial.com">contacto@miasesorvial.com</a>  </p>
    </div>
</div>