<footer>
    <div class="footer-conatiner" #footerContainer>
        <div class="row sections no-gutters" #footerRowI>
            <div class="col-sm-3 ">
                <div class="title-sectios-footer"><img src="../../../../assets/img/logoIII.png" width="80%" alt=""></div>
                <ul>
                    <li> <span>Jorge Machado</span></li>
                    <li>CEO - Fundador</li>
                    <li>Teléfono: 313-8856-979 </li>
                    <li>gerencia@miasesorvial.com</li>
                </ul>
            </div>
            <div class="col-sm-3 pl-5r">
                <div class="title-sectios-footer text-center">Mapa del Sitio</div>
                <ul>
                    <li>Inicio</li>
                    <li>Sobre nosotros</li>
                    <li>Servicios</li>
                    <li>Trabaja con nosotros</li>
                </ul>
            </div>
            <div class="col-sm-3 pl-5r">
                <p class="title-sectios-footer  text-center">Legal</p>
                <ul>
                    <li>Política de privacidad</li>
                    <li>Términos y condiciones</li>
                </ul>
            </div>
            <div class="col-sm-3 pl-5r">
                <div class="title-sectios-footer  text-center">313-8856-979</div>
                <ul>
                    <li>pad</li>
                    <li>pad</li>
                    <li>pad</li>
                    <li>pad</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row" #footerRowII>
            <div class="finFooter d-flex justify-content-between">
                <div>Copyright © Mi Asesor Vial. Todos los derechos reservados</div>
                <div><i class="fab fa-instagram-square marginSocial "></i> <i class="fab fa-facebook-square marginSocial"></i> <i class="fab fa-linkedin-in marginSocial"></i> <i class="fab fa-youtube-square marginSocial"></i></div>
            </div>
        </div>
    </div>  
</footer>

