<footer>
  <div class="footer" #footerContainer>
    <div class="row sections no-gutters" #footerRowI>
      <div class="col-sm-3 ">
        <div class="title-sectios-footer my-3"><img src="../../../../assets/img/logoIII.png" width="80%" alt="">
        </div>
        <ul>
          <li> <span>Jorge Machado</span></li>
          <li>CEO - Fundador</li>
          <li>Teléfono: 313-8856-979 </li>
          <li>gerencia@miasesorvial.com</li>
        </ul>
      </div>
      <div class="col-sm-3 pl-5r">
        <div class="title-sectios-footer text-center">Mapa del Sitio</div>
        <ul>
          <li>Inicio</li>
          <li>Sobre nosotros</li>
          <li>Servicios</li>
          <li>Trabaja con nosotros</li>
        </ul>
      </div>
      <div class="col-sm-3 pl-5r">
        <p class="title-sectios-footer  text-center">Legal</p>
        <ul>
          <li> <a routerLink="politicas-de-privacidad"> Política de privacidad</a></li>
          <li> <a routerLink="condiciones-de-uso">Términos y Condiciones de uso</a> </li>
        </ul>
      </div>
      <div class="col-sm-3 pl-5r">
        <div class="title-sectios-footer  text-center">Institucional</div>
        <ul>
          <li> <a href="https://host11.bienvenidohosting.com:2096/" target="_blank">Correo Institucional</a>
          </li>
          <li> <a href="https://app.miasesorvial.com/">Inicio Sesión</a> </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row" #footerRowII>
      <div class="footer__footer">
        <p>Copyright © Mi Asesor Vial. Todos los derechos reservados</p>
        <p><i class="fab fa-instagram-square "></i>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-youtube-square"></i>
        </p>
      </div>
    </div>
  </div>
</footer>
