.video-container {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
video {
  margin: auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.subTitle {
    font-family: Spectral;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}
