<!-- <div class="d-flex">
  <mat-card class="example-card ">
    <div class="col-sm-4 mt-2">
      <img mat-card-image src=".../../../../../../assets/img/Dra nancy.png" width="10%" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p> Dra Nancy ospina </p>
      <p> Escialidad: Derecho Civil </p>
    </mat-card-content>
  </mat-card>
</div> -->


<!--
  <mat-card class="example-card ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <div class="col-sm-4 mt-2">
      <img mat-card-image src=".../../../../../../assets/img/Dra nancy.png" width="10%" alt="Photo of a Shiba Inu">
    </div>
    <div class="col-sm-8">
    </div>
    <mat-card-content>
      <p> Dra Nancy ospina </p>
      <p> Escialidad: Derecho Civil </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

<div class="card">
  <div class="col-sm-4">
    <img class="card-img-top img-tumbnails" src=".../../../../../../assets/img/Dra nancy.png" alt="img">
  </div>
  <div class="card-body">
    <h5 class="card-title">Dra Nancy Ospina</h5>
    <p class="card-text">Especialidad: Civil</p>
    <p><span class="star"> &#9733;</span><span class="star"> &#9733;</span><span class="star"> &#9733;</span><span
        class="star"> &#9733;</span><span class="star"> &#9733;</span></p>
  </div>
</div>
