<div class="row seguimento  g-0 relative">
  <div class="col-sm-6  ">
    <div>
      <img src="../../assets/img/imgSistem-1.PNG" width="70%" alt="Img-1.png">
    </div>
    <img class="imgRight float-right" src="../../assets/img/imgSistem-2.PNG" width="60%" alt="Img-1.png">
  </div>
  <div class="col-sm-6 slogan" width="100%">
    <p class="title">Seguimiento de solicitudes &nbsp;</p>
    <p class="title2 ">Gestionamos, hacemos seguimiento a su caso y te lo mostramos en canales digitales.</p>
    <p id="expertos--title3" class="title3">Obtenga información de su caso de forma oportuna, con registros y
      actualizaciones mediente servicios web interactiva a través de nuestro SISTEMA INTELIGENTE - MAV II.
    </p>
  </div>
</div>
