<div class="tracing">
  <div class="row tracing__container">
    <div class="col-sm-6 ">
      <div>
        <img class="tracing__img1" src="../../assets/img/imgSistem-1.PNG" width="70%" alt="Img-1.png">
      </div>
      <img class="tracing__img2" src="../../assets/img/imgSistem-2.PNG" width="60%" alt="Img-1.png">
    </div>
    <div class="col-sm-6 tracing__container-text">
      <p class="tracing__title title-especial">Seguimiento de solicitudes &nbsp;</p>
      <p class="tracing__subtitle subtitle ">Gestionamos, hacemos seguimiento a su caso y te lo mostramos en canales
        digitales</p>
      <p class="tracing__text ">Obtenga información de su caso de forma oportuna, con registros y actualizaciones
        mediente servicios web interactiva a través de nuestro SISTEMA INTELIGENTE - MAV II.
      </p>
    </div>
  </div>
</div>
