<div class="main">
  <div class="row main__container">
    <div class="col-sm-7 main__slogan">
      <div class="title-especial">MIASESOR VIAL ABOGADOS ESPECIALIZADOS &nbsp;</div>
      <div class="main__subtitle">Somos expertos en transporte tránsito movilidad y seguridad vial</div>
      <div class="description">Somos una organización de carácter privado, conformada por un equipo de profesionales
        altamente calificados, que trabajamos dentro de una estructura de integridad, encargados de asesorar jurídica y
        técnicamente a entidades públicas y privadas.</div>
      <button class="btn-action" routerLink="/miasesorvial" routerLinkActive="router-link-active">CONOCE MÁS</button>
    </div>

    <div class="col-sm-5 main__img-container">

      <div class="main__slogan-responsive">
        <p>MIASESOR VIAL</p>
        <p> ABOGADOS</p>
        <p> ESPECIALIZADOS </p>
      </div>

      <div class="main__slogan-responsiveII">
        <p>
          EXPERTOS
        </p>
        <p>EN </p>
        <p>TRANSPORTE</p>
      </div>

      <div class="cuadro"></div>
      <img class="main__img1" src="../../assets/img/Img-1.png" alt="Img-1.png">
    </div>
  </div>
</div>
