<div class="row  main g-0">
    <div class="col-sm-6 g-0">
        <img class="" src="../../../../assets/mocks/blog/main.png" width="100%" alt="img">
    </div>
    <div class="col-sm-6 p-5">
        <h5 class="cardTitle">Por: Jorge Machado · 19 de Feb. 2021</h5>
        <p class="cardSubTitle">Morbi ipsum elit, mattis eget lectus vel, viverra rhoncus ligula. Aenean risus odio,
            semper</p>
        <div class="cardBody">Aenean risus odio, semper eget ipsum ac, scelerisque egestas lectus. Cras ut lectus
            maximus, varius est vitae, dignissim nibh. Nunc aliquet elementum lacinia...</div>
    </div>
</div>