<div class="main-container pt-2" #mainContainerI>
    <div class="row g-0" #rowMain>
        <div class="col-sm-6 slogan" #col1Sologan1>
            <p #mainText1 class="title">Somos abogados de siniestros viales</p>
            <p #mainText2 class="title2">Te conectamos con los mejores profesionales</p>
            <p #mainText3 class="title3">Conocemos los siniestros desde su génesis. Ponemos a disposición los mejores expertos en
                diferenctes
                áreas legales, puedes rastrear el estado de tus procesos legales en nuestra plataforma para mayor
                comodidad.</p>

            <button #mainButton1 id="btnConocemas">CONOCE MÁS</button>
        </div>
        <div class="col-sm-6 img-main" #mainImg1>
            <img #Img1 class="img1"  src="../../assets/img/Img-1.png" width="87%" alt="Img-1.png">
        </div>
    </div>
</div>

<div class="row seccionII g-0" #mainContainerII>
    <p id="sloganSecc2" #SecIIText1>Nos conectamos con las distintas entidades gubernamentales</p>
    <div class="containerLogosMinis" #secIIcontaImgs>
        <img class="CambioColorLogo" id="logoMT" src="../../assets/img/logoMinisterioTransporte.png" width="20%" alt="">
        <img class="CambioColorLogo" id="logoANSV" src="../../assets/img/logoAnsv.png" width="10%" alt="">
        <img class="CambioColorLogo" id="logoST" src="../../assets/img/supertransporte.png" width="10%" alt="">
        <img class="CambioColorLogo" id="logoPN" src="../../assets/img/escudo-policia.png" width="10%" alt="">
        <img class="CambioColorLogo" class="CambioColorLogo" id="logoANI" src="../../assets/img/logoANI.png" width="10%"
            alt="">
    </div>
</div>

<div class="main-container seccionIII">
    <div id="expertos" class="row  g-0">
        <div class="col-sm-6 slogan g-0">
            <p class="title">Buscamos los mejores</p>
            <p class="title2">Te garantizamos el mejor especialista para tu caso</p>
            <p class="title3">Conocemos los siniestros desde su génesis. Ponemos a disposición los mejores expertos en
                diferenctes
                áreas legales, puedes rastrear el estado de tus procesos legales en nuestra plataforma para mayor
                comodidad.</p>
        </div>
        <div class="col-sm-6 cardPatners g-0">

            <app-card-patners id="card1" class="col-sm-6 cardSize"></app-card-patners>
            <app-card-patners id="card2" class="col-sm-6 cardSize"></app-card-patners>
            <app-card-patners id="card3" class="col-sm-6 cardSize"></app-card-patners>
            <app-card-patners id="card4" class="col-sm-6 cardSize"></app-card-patners>

        </div>
    </div>

    <div class="row seguimento  g-0">
        <div class="col-sm-6  ">
            <div>
                <img src="../../assets/img/imgSistem-1.PNG" width="70%" alt="Img-1.png">
            </div>
            <img class="imgRight float-right" src="../../assets/img/imgSistem-2.PNG" width="60%" alt="Img-1.png">
        </div>
        <div class="col-sm-6 slogan" width="100%">
            <p class="title">Seguimiento de solicitudes</p>
            <p class="title2 ">Hacemos un seguimiento de tu caso y te lo mostramos en pantalla</p>
            <p id="expertos--title3" class="title3">Aenean risus odio, semper eget ipsum ac, scelerisque egestas lectus.
                Cras ut lectus
                maximus, varius est vitae, dignissim nibh. Nunc aliquet elementum lacinia.</p>
        </div>
    </div>

    <div class="row  g-0">
        <div class="col-sm-6  slogan g-0">

            <p class="title">Plantillas prediseñadas</p>
            <p class="title2 ">Hacemos un seguimiento de tu caso y te lo mostramos en pantalla</p>
            <p id="expertos--title3" class="title3">Aenean risus odio, semper eget ipsum ac, scelerisque egestas lectus.
                Cras ut lectus
                maximus, varius est vitae, dignissim nibh. Nunc aliquet elementum lacinia.</p>

        </div>
        <div class="col-sm-6 " width="100%">
            <img class="imgRight" id="imgPlantilla" src="../../assets/img/imgSistem-3.PNG" alt="Img-1.png">
        </div>
    </div>
</div>

<div class="main-container seccionIV">
    <div class="row py-5">
        <div class="col-sm-6 slogan ">
            <p class="title">Nuestras áreas prácticas</p>
            <p class="title2 ">Te ofrecemos las áreas prácticas que se adaptan a tus necesidades</p>

        </div>
        <div class="col-sm-6">
            <mat-grid-list cols="2" rowHeight="2:1.6">
                <mat-grid-tile class="matCard" *ngFor="let especialidad of especialidadesAll">
                    <app-card-practice [especialidad]="especialidad" width="100%">
                    </app-card-practice>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>

<div class="main-container pb-5">
    <div class="row mb-5">
        <div class="col-sm-12 mt-5">
            <div id="title--howJob" class="text-center">¿Cómo trabajamos?</div>
        </div>
        <div class="col-sm-12  d-flex justify-content-center">
            <div class="col-sm-6  justify-content-center">
                <div id="title--howJobSteps" class="text-center">Seguimos pasos puntuales para garantizar un buen
                    servicio</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <img class="imgRight" id="imgPlantilla" src="../../assets/img/Img-2.png" alt="Img-1.png">
        </div>
        <div class="col-sm-6">
            <div><span>1</span> Consulta gratis</div>
            <div>Consectetur adipiscing elit. Curabitur dui quisque neque diam ut at hendrerit neque.
                Volutpat nulla leo, nec convallis nec semper at faucibus sed.</div>
            <div><span>2</span> Tarifa ajustada a su presupuesto</div>
            <div>Consectetur adipiscing elit. Curabitur dui quisque neque diam ut at hendrerit neque.
                Volutpat nulla leo, nec convallis nec semper at faucibus sed.</div>
            <div><span>3</span> Representacion de calidad</div>
            <div>Consectetur adipiscing elit. Curabitur dui quisque neque diam ut at hendrerit neque.
                Volutpat nulla leo, nec convallis nec semper at faucibus sed.</div>
        </div>
    </div>
</div>
<div class="my-5 pt-5">
    <div class="row">
        <div class="col-sm-12">
            <div id="usNumbers">Nuestros números</div>
            <div id="usUsers">Trabajamos para nuestros usuarios</div>
        </div>
    </div>
    <div id="dataConaioner" class="data my-5 py-5">
        <div class="row text-center">
            <div class="col-sm-4">
                <p class="statics">+250</p>
                <p><small>Abogados Calificados</small></p>
            </div>
            <div class="col-sm-4">
                <p class="statics">+1230</p>
                <p><small>Clientes de confianza</small></p>
            </div>
            <div class="col-sm-4">
                <p class="statics">+2123</p>
                <p><small>Casos exitosos</small></p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div id="background" class="mt-5 pt-4">
        <div class="col-sm-6 text-center mt-5" id="cuentanos">Cuéntanos tu caso y te conectaremos con los mejores</div>
        <p  class="mt-2" id="callNow">Llama ahora <span id="callNow--number">+57 313 885 6979</span> </p>
    </div>

</div>
<div class="row ">
    <div class="seccionVI">
        <div id class="slogan">
            <p class="title">Testimonios</p>
            <p class="title2">Lo que dicen nuestros usuarios</p>
        </div>
        <div id="testimonialContainer" class="data">
            <div class="row text-center">
                <app-slider-testimonial></app-slider-testimonial>
            </div>
        </div>
    </div>    
</div>
<div  class="fomContactUs">
    <app-form-contact-us > </app-form-contact-us>
</div>
