<div class="main-container pt-2" #mainContainerI>
  <div class="row g-0" #rowMain>
    <div class="col-sm-6 slogan" #col1Sologan1>
      <div #mainText1 class="title mb-3">Somos Abogados de Accidentes de Tránsito &nbsp;</div>
      <div #mainText2 class="title2  mb-3">EXPERTOS EN TRANSPORTE, TRÁNSITO, MOVILDAD Y SEGURIDAD VIAL</div>
      <div #mainText3 class="title3 mb-3">Trabajamos con estructura de integridad entregando una óptima aplicación
        de las normas legales, proporcionamos soluciones eficientes y asesoramos jurídica y técnicamente en
        diferentes áreas del derecho. Te conectamos con el mejor especialista.</div>

      <button #mainButton1 id="btnConocemas" routerLink="/miasesorvial" routerLinkActive="router-link-active">CONOCE
        MÁS</button>
    </div>
    <div class="col-sm-6 img-main" #mainImg1>
      <div class="cuadro"></div>
      <img #Img1 class="img1" src="../../assets/img/Img-1.png" height="110%" alt="Img-1.png">
    </div>
  </div>
</div>
<div class="relative">
  <div class="row seccionII g-0 pt-6" #mainContainerII>
    <p id="sloganSecc2" class="col-sm-8" #SecIIText1>CONOCEMOS EL SISTEMA NACIONAL DE TRANSPORTE
      NOS CONECTAMOS CON SUS ENTIDADES</p>

    <div class="containerLogosMinis" #secIIcontaImgs>
      <img class="CambioColorLogo" id="logoMT" src="../../assets/img/logoMinisterioTransporte.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoANSV" src="../../assets/img/logoAnsv.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoST" src="../../assets/img/supertransporte.png" width="20%" alt="">
      <img class="CambioColorLogo" id="logoPN" src="../../assets/img/escudo-policia.png" width="20%" alt="">
      <img class="CambioColorLogo" class="CambioColorLogo" id="logoANI" src="../../assets/img/logoANI.png" width="20%"
        alt="">
    </div>
  </div>
</div>


<div class="main-container seccionIII relative">
  <div id="expertos" class="row  g-0">
    <div class="col-sm-6 slogan">
      <p class="title">Buscamos los mejores &nbsp;</p>
      <p class="title2">Te conectamos con el mejor especialista</p>
      <p class="title3">Nuestro selecto equipo de profesionales atenderá su consulta, con suficiencia académica y
        experticia que se verá reflejada en el logro de los objetivos propuestos, para su caso.</p>
    </div>
    <div class="col-sm-6 cardPatners g-0">

      <app-card-patners id="card1" class="col-sm-6 cardSize"></app-card-patners>
      <app-card-patners id="card2" class="col-sm-6 cardSize"></app-card-patners>
      <app-card-patners id="card3" class="col-sm-6 cardSize"></app-card-patners>
      <app-card-patners id="card4" class="col-sm-6 cardSize"></app-card-patners>

    </div>
  </div>

  <div class="row seguimento  g-0 relative">
    <div class="col-sm-6  ">
      <div>
        <img src="../../assets/img/imgSistem-1.PNG" width="70%" alt="Img-1.png">
      </div>
      <img class="imgRight float-right" src="../../assets/img/imgSistem-2.PNG" width="60%" alt="Img-1.png">
    </div>
    <div class="col-sm-6 slogan" width="100%">
      <p class="title">Seguimiento de solicitudes &nbsp;</p>
      <p class="title2 ">Gestionamos, hacemos seguimiento a su caso y te lo mostramos en canales digitales.</p>
      <p id="expertos--title3" class="title3">Obtenga información de su caso de forma oportuna, con registros y
        actualizaciones mediente servicios web interactiva a través de nuestro SISTEMA INTELIGENTE - MAV II.
      </p>
    </div>
  </div>

  <div class="row  g-0 relative">
    <div class="col-sm-6  slogan g-0">
      <p class="title">Plantillas prediseñadas &nbsp;</p>
      <p class="title2 ">Redactar un documento nunca fue tan facil</p>
      <p id="expertos--title3" class="title3">Cree sus propias plantillas y ahorre tiempo redactando, puede usar
        las que ya tenemos o personalice las suyas. No derroche lo que mas valioso es para usted, su tiempo, y
        permita que el sistema automatico envie sus formatos, documentos y cuentas de cobro. </p>

    </div>
    <div class="col-sm-6 " width="100%">
      <img class="imgRight" id="imgPlantilla" src="../../assets/img/imgSistem-3.PNG" alt="Img-1.png">
    </div>
  </div>
</div>

<div class="main-container seccionIV">
  <div class="row py-5 relative">
    <div class="col-sm-6 slogan ">
      <p class="title">Nuestras áreas prácticas &nbsp;</p>
      <p class="title2 ">AREAS DE PRÁCTICA</p>
      <p class="title3 "> Ejercemos jurídica y técnicamente en áreas del derecho, en las que hemos acumulado
        experiencia a través del ejercicio profesional. Especialmente en: Procesos PENALES, CIVILES y
        ADMINISTRATIVOS derivados de
        los Accidentes de Tránsito. </p>

    </div>
    <div class="col-sm-6">
      <mat-grid-list cols="2" rowHeight="2:1.6">
        <mat-grid-tile class="matCard" *ngFor="let especialidad of especialidadesAll">
          <app-card-practice [especialidad]="especialidad" width="100%">
          </app-card-practice>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<div class="main-container pb-5">
  <div class="row mb-5 relative">
    <div class="col-sm-12 mt-5">
      <div id="title--howJob" class="text-center">¿CÓMO LO HACEMOS?</div>
    </div>
    <div class="col-sm-12  d-flex justify-content-center">
      <div class="col-sm-12 justify-content-center">
        <div id="title--howJobSteps" class="text-center">Seguimos pasos específicos, aplicamos una metodología
          probada para el éxito de nuestros procesos legales.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 ">
      <img class="imgRight" id="imgPlantilla" src="../../assets/img/Img-2.png" alt="Img-1.png">
    </div>
    <div class="col-sm-6 ajustes">
      <div class="titulosSeccionhowJob"> <b>1. Etapa preliminar</b></div>
      <div class="">Estudio de Viabilidad - jurídico Técnico</div>
      <ul>
        <li>Escuchamos</li>
        <li>Estudiamos</li>
        <li>Investigamos</li>
        <li>Validamos</li>
      </ul>
      <div class="titulosSeccionhowJob"> <b>2. Etapa Contractual</b> </div>
      <div class="">Gestión de Representación Legal</div>
      <ul>
        <li>Recolección y entrega de documentos e información base</li>
        <li>Formulación de hipótesis y supuestos jurídicos</li>
        <li>Evaluación de los Medios Probatorios</li>
        <li>Definición de la Estrategia Judicial</li>
        <li>Estructuración del Argumento</li>
        <li>Preparación de Documentos Legales</li>
        <li>Representación ante la Autoridad Judicial</li>
      </ul>
    </div>
  </div>
</div>
<div class="my-5 pt-5">
  <div class="row">
    <div class="col-sm-12">
      <div id="usNumbers">Nuestros números</div>
      <div id="usUsers">Trabajamos para nuestros usuarios</div>
    </div>
  </div>
  <div id="dataConaioner" class="data my-5 py-5">
    <div class="row text-center">
      <div class="col-sm-4">
        <p class="statics">+250</p>
        <p><small>Abogados Calificados</small></p>
      </div>
      <div class="col-sm-4">
        <p class="statics">+1230</p>
        <p><small>Clientes de confianza</small></p>
      </div>
      <div class="col-sm-4">
        <p class="statics">+2123</p>
        <p><small>Casos exitosos</small></p>
      </div>
    </div>

  </div>
</div>

<div class="row mt-5" id="container-background">
  <div id="background" class=" pt-4">
    <img src="../../assets/img/Img-3.png" alt="" id="img_back">
    <div class="col-sm-6 text-center mt-5" id="cuentanos">Cuéntanos tu caso y te conectaremos con los mejores</div>
    <p class="mt-2" id="callNow">Llama ahora <span id="callNow--number">+57 313 885 6979</span> </p>
  </div>

</div>
<div class="row ">
  <div class="seccionVI">
    <div id class="slogan">
      <p class="title">Testimonios &nbsp;</p>
      <p class="title2">Lo que dicen nuestros usuarios</p>
    </div>
    <div id="testimonialContainer" class="data">
      <div class="row text-center">
        <app-slider-testimonial></app-slider-testimonial>
      </div>
    </div>
  </div>
</div>
<!-- <div class="fomContactUs">
    <app-form-contact-us> </app-form-contact-us>
</div> -->
