<div class="main-container">
    <div class="row g-0">
        <div class="col-sm-6">
            <p id="title">Somos abogados de siniestros viales</p>
            <p>Te conectamos con los mejores profesionales</p>
            <p>Conocemos los siniestros desde su génesis. Ponemos a disposición los mejores expertos en diferenctes
                áreas legales, puedes rastrear el estado de tus procesos legales en nuestra plataforma para mayor
                comodidad.</p>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/img/Img-1.png" width="90%" alt="Img-1.png">
        </div>
    </div>
</div>