html,
body {
  padding: 0;
}
.main-container {
  background: #f4f6f9;
}

.relative {
  position: relative;
}
// FORMATO MAYOR A 992PX
@media (min-width: 992px) {
  .img-main {
    text-align: right;
    height: 530px;
  }
  .img1 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .slogan {
    padding-left: 104px;
    padding-top: 90px;
  }
  .title2 {
    font-family: Spectral;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
  }
  .title3 {
    width: 604px;
    // height: 81px;
    left: 104px;
    // top: 446px;

    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    max-width: 100%;
  }

  #btnConocemas {
    // position: absolute;
    width: 296px;
    height: 56px;
    left: 104px;
    // top: 500px;
    background: #386ae9;
    font-family: Spectral;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: white;
  }

  .seccionII {
    // padding-top: 100px;
    height: 410px;
    text-align: center;
    padding-bottom: 120px;
    position: relative;
  }

  #sloganSecc2 {
    margin: 0 auto;
    font-family: Spectral;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    font-size: 32px;
  }
  .containerLogosMinis {
    top: 0;
    display: inline-flex;
    justify-content: space-around;
  }
  #logoMT {
    width: 212.39px;
    height: 40px;
  }
  #logoANSV {
    width: 134.14px;
    height: 48px;
  }
  #logoST {
    width: 72px;
    height: 48px;
  }
  #logoPN {
    width: 56px;
    height: 56px;
  }

  #logoANI {
    width: 133.54px;
    height: 48px;
  }
  .CambioColorLogo {
    mix-blend-mode: luminosity;
    opacity: 0.8;
  }
  .cardPatners {
    padding-left: 70px;
    position: relative;
  }
  #card1,
  #card2,
  #card3,
  #card4 {
    position: absolute;
  }
  #card1 {
    top: 80px;
  }

  #card2 {
    left: 350px;
    top: 168px;
  }

  #card3 {
    top: 380px;
  }
  #card4 {
    left: 350px;
    top: 474px;
  }
  .cardP {
    margin-right: 10px;
    margin-left: 20px;
  }

  .seccionIII {
    min-height: 1908px;
  }
  #expertos {
    min-height: 848px;
  }
  #expertos--title3 {
    margin-top: 60px;
  }
  .cardSize {
    width: 250px;
  }

  .imgRight {
    float: right;
    right: 0;
  }
  .seguimento {
    min-height: 600px;
  }
  #imgPlantilla {
    height: 416px;
    margin-right: 63px;
  }
  .seccionIV {
    background-color: white;
    display: block;
  }
  #title--howJob {
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }
  #title--howJobSteps {
    width: 80%;
    font-family: Spectral;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
  }
  #usNumbers {
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  #usUsers {
    font-family: Spectral;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
  }
  .data {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #dataConaioner {
    height: 177px;
    width: 1022px;
    margin: 0 auto;
    border-radius: 0px;
  }
  .statics {
    font-family: Spectral;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #386ae9;
    margin: 0;
    padding: 0;
  }
  #background {
    // background-image: url("../../assets/img/Img-3.png");
    // background-size:contain;
    // height: 384px;
    // max-width: 90%;
    // right: 0;
    // top: 6107px;
    // border-radius: 0px;
    // align-items: center;
    // justify-items: center;
    overflow: hidden;
    position: relative;
  }
  #container-background {
    overflow: hidden;
  }
  #img_back {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  #cuentanos {
    font-family: Spectral;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
  }
  #callNow {
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
  #callNow--number {
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
  }
  #testimonialContainer {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .seccionVI {
    height: 1142px;
  }

  .fomContactUs {
    position: absolute;
    margin-left: 100px;
    bottom: 397px;
    z-index: 10;
  }

  #divSlogan {
    height: 100px !important;
  }
  .ajustes {
    padding-right: 260px;
    padding-top: 10px;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  .titulosSeccionhowJob {
    font-family: Spectral;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 16px 0;
  }
}
